body {
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #f8ecee, #ffffff) center center fixed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: top;
    z-index: -1;
    transition: background-image 0.5s ease-in-out;
}

.main-content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: calc(100vh - 110px); 
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 0.9em;
    color: white;
    margin: 0;
    font-weight: 300;
}

.header h2 {
    font-size: 1.7em;
    color: white;
    margin: 10px 0;
    font-weight: bold;
}

.header h3 {
    font-size: 0.8em;
    color:white;
    font-weight: 600;
    margin-top: -10px;
}

h2 br {
    font-weight: 300;
}

/* Carousel container styles */
.carousel-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Carousel styles */
.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    height: 100%; 
    padding: 0 10%; 
    transform: translateX(0); 
}

/* Card styles */
.card {
    min-width: 250px;
    max-width: 250px; 
    margin: 0 10px;
    background: white;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 70%;
    margin-top: 10px; 
}

.card.active {
    transform: translateY(-10px); 
}

.card.inactive {
    transform: translateY(30px); 
}

.image-container {
    position: relative;
    width: 90%;
    height: 60%;
    margin: 0 auto;
    margin-top: 1vh;
    flex-grow: 0; 
}

.profile-image {
    width: 100%; 
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;
}

.magnify-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 15px;
}

/* .profile-image {
    width: 90%; 
    height: 60%;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1vh;
    flex-grow: 0; 
    object-fit: cover;
} */

.name {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

.description {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px; 
}

.description-detail {
    background: #f0f0f0;
    padding: 5px 10px;
    border-radius: 10px;
    border-color: #777;
    font-size: 0.7em;
    color: #777;
    margin: 0;
}

.color-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.dot.active {
    width: 25px;
    height: 25px;
    border: 2px solid #f0f0f0;
}

.pick-button {
    width: 90%;
    background: #514C48;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: auto; 
    margin: 10px auto 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.confirm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 3vh;
    right:3vh;
    background: rgba(255, 255, 255, 0); 
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 0.5vh 1.0vh;
    cursor: pointer;
    z-index: 20;
    font-size: 0.8em;
    transition: background 0.3s ease, color 0.3s ease;
}

.confirm-button span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.button-text {
    margin-right: 10px; 
}

.arrow-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: white;
    position: relative;
    margin-left: 0.5vh; 
}

.arrow {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    border-left: 8px solid #9e4f6b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -50%);
}

#colorAlertModal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

#colorAlertModal .modal-content {
    background: #E6DBCE; 
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 90%;
    margin: auto;
}

#colorAlertModal .modal-content .error {
    color: #B89E91;
    font-size: 1.2em;
    font-weight: 700;
}

#colorAlertModal .modal-content p {
    margin: 10px 0;
    color: black;
    font-weight: 400;
    font-size: 1.1em;
}

#colorAlertModal .modal-content .note {
    font-size: 0.7em;
    color: #B89E91;
}

#colorAlertModal .modal-content .divider {
    border: 0;
    height: 0.5px;
    background: #B89E91;
}

#colorAlertModal .emoji {
    width: 50%;
    margin-bottom: -2vh;
}

#colorAlertModal .modal-content .content {
    color: black;
    font-weight: 400;
    font-size: 1.2em;
}

.scale-container {
    transform-origin: top left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

html, body {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
